include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft monitoring
global-exclude *.orig *.pyc *.log *.swp
prune monitoring/tests/coverage
prune monitoring/.ropeproject
